.Dictionary section {
   max-width: 800px;
  background-color: 
  #23ccb0;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(47,125,113, 0.2);
  margin: 20px 0;
  padding: 20px 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #2f776b;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #2f776b;
  background-color: #f4faf9;
}

.Dictionary .question {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px
}

.Dictionary .examples {
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
}