.Phonetic a {
  border: 1px solid #2f776b;
  padding: 10px 5px 10px 5px;
  border-radius: 50%;
  text-decoration: none;
  background-color:#2f776b;
  color: #23ccb0;
  margin-right: 20px;
  margin-top: 80px;
  transition: all 200ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #23ccb0;
  color: #2f776b;
}